<div id="search-div">
    <form>
        <div style="text-align: center">
            <input type="text" id="address" placeholder="Strada, localitate, judet">
            <input id="cp_btn" type="button" value="Cauta cod postal">

            {#<input id="addr_btn" type="button" value="Cauta adresa dupa cod postal">#}
        </div>
    </form>
    <div id="ajax-result"> </div>
</div>