<h1 style="color:darkblue;margin-bottom:0">Coduri Postale 99</h1>
<h5 style="color:grey;margin-top:0">Cel mai rapid serviciu de coduri postale din Romania</h5>

<p>Stapane,<p>

<p style="margin-top:15px">Aveti un mesaj de la {{ user }} cu emailul:{{ email }}</p>

<p>{{ message }}</p>

<br/>
CoduriPostale99.